<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.dailydigest</string>

    <key>ProgramArguments</key>
    <array>
        <string>__REPO_DIR__/run.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__HOUR__</integer>
        <key>Minute</key>
        <integer>__MINUTE__</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>__LOG_DIR__/daily-digest.stdout.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/daily-digest.stderr.log</string>
</dict>
</plist>
